/* ページネーションボタン */
.custom-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #949dad;
  opacity: 1;
  cursor: pointer;
  background: none;
}

.custom-pagination .swiper-pagination-bullet-active {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.swiper-pagination-vertical.swiper-pagination-bullets {
  transform: none;
}

.swiper-pagination-vertical.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}
